<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="APP_NAME" value="taskmanager"/>
  <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [${APP_NAME}] [%thread] %logger{36} - %msg%n%ex{full}"/>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN}</pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>

  <logger name="org.springframework" level="INFO"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.springframework.web.servlet.DispatcherServlet" level="WARN"/>
  <logger name="org.springframework.security" level="INFO"/>
  <logger name="org.hibernate" level="WARN"/>
  <logger name="org.flywaydb" level="INFO"/>
  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="OFF"/>
  <logger name="org.apache.catalina" level="WARN"/>
  <logger name="org.apache.coyote" level="WARN"/>
  <logger name="com.gustavo" level="INFO"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
